.header ul {
    list-style: none;
}

.header a {
    color: green;
    text-decoration: none;
}



.header {
    height: 80px;
    width: 105%;
    background: #eff5ef;
    border-bottom: 1px solid seashell;
}

.nav-box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 40px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #eff5ef;
}

.nav-box .nav {
    display: flex;
    font-size: 16px;
    color: #f5f8f5;

}
.nav-box .nav li{
    padding-left: 40px;
}
.nav-box .nav a.on,
.nav-box .nav a.on:hover{
    color: #20b420;
    padding-bottom: 10px;
    border-bottom: 2px solid #72b672;
}
.title1{
    font: 23px Helvetica,Arial,sans-serif;
    color:green;
    margin-left: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.comment-box{
    display: flex;
    margin-left:320px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #e5ece5;
    border-radius: 5px;
    width:650px ;
    padding:  0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 18px;
}
.comment-box:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.id-name{
    display: inline-block;
    margin-top: 15px;

}
.id-box,.name-box{
    display: inline;
    margin-left: 15px;
    font-weight: bold;
    font: 18px Helvetica,Arial,sans-serif;
}
.id-box{
    color: #3377AA;
}
.comments{
    margin-top: 20px;
    margin-left: 36px;
    font: 16px Helvetica,Arial,sans-serif;
    color: #5d5d5d;

}
.filmname-with-quote{
    margin-left: 460px;
    font:15px Helvetica,Arial,sans-serif ;
    color: #3f3f3f;
}
.filmname-with-quote:before {
    content: '《';
}

.filmname-with-quote:after {
    content: '》';
}
.submit_btn{
    margin-left: 550px;
}